<div class="text-center">
  <h1 class="top-header">Blocipedia: Social, Markdown Wikis</h1>

  <div class="jumbotron">
    <h3 class="jumbo-header">Create and share Markdown Wikis</h3>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5 class="plan-tagline">Create as many public wikis as you want!</h5>
      <p>
        <%= link_to "Free", '#', class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
    <div class="col-md-6">
      <h5 class="plan-tagline">Create private wikis!</h5>
      <p>
        <%= link_to "Premium", '#', class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>
