// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-header {
  margin-bottom: 40px;
}
.jumbo-header {
  margin-bottom: 30px;
}
.plan-tagline {
  margin: 40px 0px;
}
.btn-lg {
  width: 150px;
}
